// Font face for social icons.
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?pd9iof");
  src: url("../fonts/icomoon.eot?pd9iof#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?pd9iof") format("truetype"),
    url("../fonts/icomoon.woff?pd9iof") format("woff"),
    url("../fonts/icomoon.svg?pd9iof#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_instagram:before {
  content: "\e900";
}
.icon-ic_youtube:before {
  content: "\e901";
}
.icon-ic_facebook:before {
  content: "\e902";
}
.icon-ic_twitter:before {
  content: "\e903";
}

/////// end of fonts

//define colors
$blue: #4066a5;
$black: #131821;
$darkGray: #6a707b;
$lightGray: #e3e3e4;
$white: #f2f5fa;

// reset
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.body-container {
  height: 100vh;
  width: 100%;
  font-family: arial;
  // background: $darkGray;

  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .navbar {
      display: flex;
      background: #ffffff;

      &__logo {
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 20px;
      }

      &__image {
        width: 25px;
        height: 40px;
        background: url("../img/logo_pineapple_mobile.svg");
      }

      &__items {
        &__list {
          display: flex;
          list-style: none;

          &__item {
            padding: 21px 0;
            margin-right: 20px;

            &__link {
              font-family: Arial;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0em;
              color: $darkGray;
            }

            &:hover {
              color: $black;
            }
          }
        }
      }
    }

    .subscribe-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .subscribe {
        background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
        width: 335px;
        height: 371px;
        min-width: 335px;
        min-height: 371px;
        padding: 30px 20px;

        #successIcon {
          width: 50px;
          height: 70px;
          background: url("../img/ic_success.svg");
          background-position: center;
          background-repeat: no-repeat;
          margin-bottom: 39px;
        }

        &__heading {
          font-family: Georgia;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 34px;
          letter-spacing: 0em;
          color: $black;
          margin-bottom: 10px;
        }

        &__text {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          color: $darkGray;
          margin-bottom: 20px;
        }

        &__form {
          position: relative;
        }

        &__form__inputarea {
          position: relative;
          &__input {
            width: 100%;
            padding: 18px 49px 18px 19px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            position: relative;
            border: 1px solid $lightGray;
            border-left: 4px solid $blue;

            &:focus {
              box-shadow: 0px 30px 40px 0px #131821 6%;
              outline: none;
            }

            &:hover {
              box-shadow: 0px 30px 40px 0px #131821 6%;
              border: 1px solid #4066a5;
              border-left: 4px solid $blue;
            }

            &:hover ~ .subscribe__form__inputarea__button {
              background: url("../img/ic_arrow_blue.svg");
            }
          }

          &__button {
            border: none;
            outline: none;
            position: absolute;
            top: 40%;
            right: 5%;
            background: url("../img/ic_arrow.svg");
            width: 24px;
            height: 14px;

            &:hover {
              background: url("../img/ic_arrow_blue.svg");
              cursor: pointer;
            }
          }
        }

        #error,
        #termsError {
          position: absolute;
          color: $blue;
          font-family: Arial;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 0em;

          margin: 0;
          padding: 0;
        }

        #termsError {
          top: 72px;
        }

        .termsarea {
          margin-top: 20px;
          margin-bottom: 20px;
          .terms {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            color: $darkGray;
            margin-left: 45px;
            position: relative;

            &__link {
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: 0em;
              text-decoration: underline;
              color: $black;

              &:hover {
                color: $blue;
              }

              &:active {
                color: #233759;
              }
            }

            #termsCheckbox {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;

              &:checked ~ .terms__checkbox-replace {
                background-color: $blue;
                background-image: url("../img/ic_checkmark.svg");
                background-repeat: no-repeat;
                background-position: center;
              }
            }

            &__checkbox-replace {
              position: absolute;
              background: #ffffff;
              border: 1px solid #e3e3e4;
              border-radius: 3px;
              width: 26px;
              height: 26px;
              left: -45px;
            }
          }
        }

        .socials {
          border-top: 1px solid $lightGray;
          display: flex;

          &__container {
            width: 100%;
            padding-top: 20px;
            display: flex;
            justify-content: center;

            .icon {
              width: 46px;
              height: 46px;
              border-radius: 50%;
              border: 2px solid #e2e3e4;
              font-size: 16px;
              color: $black;
              opacity: 0.4;
              margin: 0 5px;
            }

            [class*="icon-ic_"] {
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover,
              &:active {
                color: white;
                box-shadow: 0px 20px 40px 0px #131821 30%;
                border: none;
                opacity: 1;
              }
            }

            .icon-ic_facebook {
              &:hover {
                background: #4267b2;
              }

              &:active {
                background: #2f4a80;
              }
            }

            .icon-ic_instagram {
              &:hover {
                background: #c13584;
              }

              &:active {
                background: #8f2762;
              }
            }

            .icon-ic_twitter {
              &:hover {
                background: #1da1f2;
              }

              &:active {
                background: #177fbf;
              }
            }
            .icon-ic_youtube {
              &:hover {
                background: #ff0000;
              }

              &:active {
                background: #cc0000;
              }
            }
          }
        }
      }
    }
  }

  .background-container {
    min-height: 100%;
    min-width: 1080px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    background: url("../img/image_summer.png") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

@media (min-width: 1400px) {
  .body-container {
    display: flex;
    flex-direction: row;

    .main-container {
      width: 680px;
      .navbar {
        margin: 100px 100px 0 100px;
        &__logo {
          display: flex;
          align-items: center;
        }

        &__image {
          height: 40px;
          width: 118px;
          background: url("../img/logo_pineapple.svg");
        }

        &__items {
          &__list {
            // justify-content: flex-end;

            &__item {
              padding-left: 30px;
              margin: 0px;
              &__link {
                font-family: Arial;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
              }
            }
          }
        }
      }

      .subscribe-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .subscribe {
          background: #ffffff;
          width: 400px;
          padding: 0;
          margin: auto;

          &__heading {
            font-size: 32px;
            font-weight: 400;
            line-height: 44px;
            letter-spacing: 0em;
            margin-bottom: 15px;
          }

          &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            margin-bottom: 50px;
          }

          &__form__inputarea {
            margin-top: 50px;
            margin-bottom: 53px;
            position: relative;
            &__input {
              position: relative;
              padding: 23px 392px 23px 44px;
              left: -50px;
              width: 660px;
            }

            &__button {
              right: -175px;
            }
          }

          #error {
            top: 80px;
          }

          #termsError {
            top: 100px;
          }

          .termsarea {
            margin-bottom: 50px;
          }

          .socials {
            padding-top: 50px;
            &__container {
              .icon {
                margin: 0 10px;
              }
            }
          }
        }
      }
    }

    .background-container {
      position: static;
      min-width: initial;
      flex: 2;
    }
  }
}
