@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?pd9iof");
  src: url("../fonts/icomoon.eot?pd9iof#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?pd9iof") format("truetype"), url("../fonts/icomoon.woff?pd9iof") format("woff"), url("../fonts/icomoon.svg?pd9iof#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_instagram:before {
  content: "\e900";
}

.icon-ic_youtube:before {
  content: "\e901";
}

.icon-ic_facebook:before {
  content: "\e902";
}

.icon-ic_twitter:before {
  content: "\e903";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.body-container {
  height: 100vh;
  width: 100%;
  font-family: arial;
}

.body-container .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.body-container .main-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
}

.body-container .main-container .navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.body-container .main-container .navbar__image {
  width: 25px;
  height: 40px;
  background: url("../img/logo_pineapple_mobile.svg");
}

.body-container .main-container .navbar__items__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.body-container .main-container .navbar__items__list__item {
  padding: 21px 0;
  margin-right: 20px;
}

.body-container .main-container .navbar__items__list__item__link {
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #6a707b;
}

.body-container .main-container .navbar__items__list__item:hover {
  color: #131821;
}

.body-container .main-container .subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.body-container .main-container .subscribe-container .subscribe {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f5fa));
  background: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
  width: 335px;
  height: 371px;
  min-width: 335px;
  min-height: 371px;
  padding: 30px 20px;
}

.body-container .main-container .subscribe-container .subscribe #successIcon {
  width: 50px;
  height: 70px;
  background: url("../img/ic_success.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 39px;
}

.body-container .main-container .subscribe-container .subscribe__heading {
  font-family: Georgia;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  color: #131821;
  margin-bottom: 10px;
}

.body-container .main-container .subscribe-container .subscribe__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: #6a707b;
  margin-bottom: 20px;
}

.body-container .main-container .subscribe-container .subscribe__form {
  position: relative;
}

.body-container .main-container .subscribe-container .subscribe__form__inputarea {
  position: relative;
}

.body-container .main-container .subscribe-container .subscribe__form__inputarea__input {
  width: 100%;
  padding: 18px 49px 18px 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  border: 1px solid #e3e3e4;
  border-left: 4px solid #4066a5;
}

.body-container .main-container .subscribe-container .subscribe__form__inputarea__input:focus {
  -webkit-box-shadow: 0px 30px 40px 0px #131821 6%;
          box-shadow: 0px 30px 40px 0px #131821 6%;
  outline: none;
}

.body-container .main-container .subscribe-container .subscribe__form__inputarea__input:hover {
  -webkit-box-shadow: 0px 30px 40px 0px #131821 6%;
          box-shadow: 0px 30px 40px 0px #131821 6%;
  border: 1px solid #4066a5;
  border-left: 4px solid #4066a5;
}

.body-container .main-container .subscribe-container .subscribe__form__inputarea__input:hover ~ .subscribe__form__inputarea__button {
  background: url("../img/ic_arrow_blue.svg");
}

.body-container .main-container .subscribe-container .subscribe__form__inputarea__button {
  border: none;
  outline: none;
  position: absolute;
  top: 40%;
  right: 5%;
  background: url("../img/ic_arrow.svg");
  width: 24px;
  height: 14px;
}

.body-container .main-container .subscribe-container .subscribe__form__inputarea__button:hover {
  background: url("../img/ic_arrow_blue.svg");
  cursor: pointer;
}

.body-container .main-container .subscribe-container .subscribe #error,
.body-container .main-container .subscribe-container .subscribe #termsError {
  position: absolute;
  color: #4066a5;
  font-family: Arial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
}

.body-container .main-container .subscribe-container .subscribe #termsError {
  top: 72px;
}

.body-container .main-container .subscribe-container .subscribe .termsarea {
  margin-top: 20px;
  margin-bottom: 20px;
}

.body-container .main-container .subscribe-container .subscribe .termsarea .terms {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  color: #6a707b;
  margin-left: 45px;
  position: relative;
}

.body-container .main-container .subscribe-container .subscribe .termsarea .terms__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-decoration: underline;
  color: #131821;
}

.body-container .main-container .subscribe-container .subscribe .termsarea .terms__link:hover {
  color: #4066a5;
}

.body-container .main-container .subscribe-container .subscribe .termsarea .terms__link:active {
  color: #233759;
}

.body-container .main-container .subscribe-container .subscribe .termsarea .terms #termsCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.body-container .main-container .subscribe-container .subscribe .termsarea .terms #termsCheckbox:checked ~ .terms__checkbox-replace {
  background-color: #4066a5;
  background-image: url("../img/ic_checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.body-container .main-container .subscribe-container .subscribe .termsarea .terms__checkbox-replace {
  position: absolute;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  border-radius: 3px;
  width: 26px;
  height: 26px;
  left: -45px;
}

.body-container .main-container .subscribe-container .subscribe .socials {
  border-top: 1px solid #e3e3e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .main-container .subscribe-container .subscribe .socials__container {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #e2e3e4;
  font-size: 16px;
  color: #131821;
  opacity: 0.4;
  margin: 0 5px;
}

.body-container .main-container .subscribe-container .subscribe .socials__container [class*="icon-ic_"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-container .main-container .subscribe-container .subscribe .socials__container [class*="icon-ic_"]:hover, .body-container .main-container .subscribe-container .subscribe .socials__container [class*="icon-ic_"]:active {
  color: white;
  -webkit-box-shadow: 0px 20px 40px 0px #131821 30%;
          box-shadow: 0px 20px 40px 0px #131821 30%;
  border: none;
  opacity: 1;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_facebook:hover {
  background: #4267b2;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_facebook:active {
  background: #2f4a80;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_instagram:hover {
  background: #c13584;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_instagram:active {
  background: #8f2762;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_twitter:hover {
  background: #1da1f2;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_twitter:active {
  background: #177fbf;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_youtube:hover {
  background: #ff0000;
}

.body-container .main-container .subscribe-container .subscribe .socials__container .icon-ic_youtube:active {
  background: #cc0000;
}

.body-container .background-container {
  min-height: 100%;
  min-width: 1080px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background: url("../img/image_summer.png") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

@media (min-width: 1400px) {
  .body-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .body-container .main-container {
    width: 680px;
  }
  .body-container .main-container .navbar {
    margin: 100px 100px 0 100px;
  }
  .body-container .main-container .navbar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .body-container .main-container .navbar__image {
    height: 40px;
    width: 118px;
    background: url("../img/logo_pineapple.svg");
  }
  .body-container .main-container .navbar__items__list__item {
    padding-left: 30px;
    margin: 0px;
  }
  .body-container .main-container .navbar__items__list__item__link {
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
  }
  .body-container .main-container .subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .body-container .main-container .subscribe-container .subscribe {
    background: #ffffff;
    width: 400px;
    padding: 0;
    margin: auto;
  }
  .body-container .main-container .subscribe-container .subscribe__heading {
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    margin-bottom: 15px;
  }
  .body-container .main-container .subscribe-container .subscribe__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    margin-bottom: 50px;
  }
  .body-container .main-container .subscribe-container .subscribe__form__inputarea {
    margin-top: 50px;
    margin-bottom: 53px;
    position: relative;
  }
  .body-container .main-container .subscribe-container .subscribe__form__inputarea__input {
    position: relative;
    padding: 23px 392px 23px 44px;
    left: -50px;
    width: 660px;
  }
  .body-container .main-container .subscribe-container .subscribe__form__inputarea__button {
    right: -175px;
  }
  .body-container .main-container .subscribe-container .subscribe #error {
    top: 80px;
  }
  .body-container .main-container .subscribe-container .subscribe #termsError {
    top: 100px;
  }
  .body-container .main-container .subscribe-container .subscribe .termsarea {
    margin-bottom: 50px;
  }
  .body-container .main-container .subscribe-container .subscribe .socials {
    padding-top: 50px;
  }
  .body-container .main-container .subscribe-container .subscribe .socials__container .icon {
    margin: 0 10px;
  }
  .body-container .background-container {
    position: static;
    min-width: initial;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
/*# sourceMappingURL=style.css.map */